

<!DOCTYPE html>
<html>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<body>


    <div>
            <h1>Update Property Information</h1>
            @{
                PropertyViewModal datas = ViewBag.property;

            <form id="regForm" enctype="multipart/form-data" method="post" action="/Landloard/UpdatePropertyId">
                    <label for="fname">Price</label>
                    <input placeholder="Price (EG:4000)"  name="price" value="@datas.Price">

                    <label for="lname">No of rooms</label>
                    <input placeholder="No of rooms " name="countroom" value="@datas.CountRoom">

                    <label for="lname">No of rooms</label>
                    <input placeholder="Enter Facilities (Eg : air conditional room , attached bathroom) "  name="facilities" value="@datas.Facilities">

                     <input type="hidden"  name="Pid" value="@datas.Pid">
           

                    <input type="submit" value="Submit">
                </form>

            }
    </div>

</body>
</html>
